#header {
    padding: 5px;
    color: #5F4489;
    background-color: #cccccc;
}

#brand {
    font-size: 40px;    
    vertical-align: bottom;
}

#gameSection {
    font-size: 18px;        
}

#word{
    font-size: 60px;        
    color: #5F4489;
}

#footer{        
    background-color: #5F4489;
    color: white;
    margin-top: 10px;
}

#gameContainer {
    margin-top: 15px;
    margin-bottom:15px;
}

.endedMsg {    
    font-size: 18px;      
}